In [89]:
import geopandas as gpd
from ETL_script import get_layer

#function that takes the name of a layer and returns the amount of null values in each column
def look_for_null(selected_layer):
    gdf_layer = get_layer(selected_layer)
    mask = gdf_layer.isnull()
    null_values_amount = mask.sum()
    print(f'Ilość pustych wartości: \n{null_values_amount}\n')
    rows_with_missing_data = gdf_layer[mask.any(axis=1)]
    if not rows_with_missing_data.empty:
        print("Przykładowe wiersze z brakami danych:")
        # Wyświetlamy oryginalne dane, żebyś mogła podjąć decyzję
        print(rows_with_missing_data.head(20))
    else:
        print("Brak wierszy z pustymi wartościami.")

In [ ]:
#function that takes the name of a layer and prints and returns a df with duplicate gml_id
def look_for_duplicates(selected_layer):
    gdf_layer = get_layer(selected_layer)
    duplikaty_id = gdf_layer[gdf_layer.duplicated(subset=['gml_id'])]
    print(f'Ilość duplikatów: \n{duplikaty_id}\n')
    return duplikaty_id

In [77]:
layer = 'RCN_Transakcja'
#data types of the important columns 
transakcja_layer = get_layer(layer)
print(f"Typ danych kolumny z ceną: {transakcja_layer['cenaTransakcjiBrutto'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z ceną: float64
Ilość pustych wartości:
gml_id                  0
przestrzenNazw          0
lokalnyId               0
wersjaId                0
oznaczenieTransakcji    0
rodzajTransakcji        0
rodzajRynku             0
stronaSprzedajaca       0
stronaKupujaca          0
cenaTransakcjiBrutto    0
dtype: int64

Brak wierszy z pustymi wartościami.
Ilość duplikatów:
Empty DataFrame
Columns: [gml_id, przestrzenNazw, lokalnyId, wersjaId, oznaczenieTransakcji, rodzajTransakcji, rodzajRynku, stronaSprzedajaca, stronaKupujaca, cenaTransakcjiBrutto]
Index: []

Empty DataFrame
Columns: [gml_id, przestrzenNazw, lokalnyId, wersjaId, oznaczenieTransakcji, rodzajTransakcji, rodzajRynku, stronaSprzedajaca, stronaKupujaca, cenaTransakcjiBrutto]
Index: []

In [78]:
layer = 'RCN_Dokument'
#data types of the important columns 
dokument_layer = get_layer(layer)
print(f"Typ danych kolumny z datą: {dokument_layer['dataSporzadzeniaDokumentu'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z datą: object
Ilość pustych wartości:
gml_id                       0
oznaczenieDokumentu          0
dataSporzadzeniaDokumentu    0
tworcaDokumentu              0
dtype: int64

Brak wierszy z pustymi wartościami.
Ilość duplikatów:
Empty DataFrame
Columns: [gml_id, oznaczenieDokumentu, dataSporzadzeniaDokumentu, tworcaDokumentu]
Index: []

Empty DataFrame
Columns: [gml_id, oznaczenieDokumentu, dataSporzadzeniaDokumentu, tworcaDokumentu]
Index: []

In [86]:
print(dokument_layer['dataSporzadzeniaDokumentu'].apply(type).value_counts())

dataSporzadzeniaDokumentu
<class 'str'>    5422
Name: count, dtype: int64

In [79]:
layer = 'RCN_Nieruchomosc'
nieruchomosc_layer = get_layer(layer)
#data types of the important columns
print(f"Typ danych kolumny z polem powierzchni gruntowej: {nieruchomosc_layer['polePowierzchniNieruchomosciGruntowej'].dtype}")
print(f"Typ danych kolumny z ceną nieruchomosci: {nieruchomosc_layer['cenaNieruchomosciBrutto'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z polem powierzchni gruntowej: float64
Typ danych kolumny z ceną nieruchomosci: float64
Ilość pustych wartości:
gml_id                                          0
rodzajNieruchomosci                             0
rodzajPrawaDoNieruchomosci                      0
udzialWPrawieDoNieruchomosci                    0
cenaNieruchomosciBrutto                       244
polePowierzchniNieruchomosciGruntowej        5535
polePowierzchniNieruchomosciGruntowej_uom    5535
dtype: int64

Przykładowe wiersze z brakami danych:
                   gml_id  rodzajNieruchomosci  rodzajPrawaDoNieruchomosci  \
0   ID_1_obj_id_228956918                    4                           3
1   ID_1_obj_id_228955487                    4                           3
2   ID_1_obj_id_228955187                    4                           3
3   ID_1_obj_id_228955101                    4                           3
4   ID_1_obj_id_228951187                    4                           3
5   ID_1_obj_id_228951082                    4                           3
6   ID_1_obj_id_228951050                    4                           3
7   ID_1_obj_id_228950960                    4                           3
8   ID_1_obj_id_228949433                    4                           3
9   ID_1_obj_id_226412282                    4                           3
10  ID_1_obj_id_228948104                    4                           3
11  ID_1_obj_id_228947730                    4                           3
12  ID_1_obj_id_228278582                    4                           3
13  ID_1_obj_id_228943112                    4                           3
14  ID_1_obj_id_228942092                    4                           3
15  ID_1_obj_id_228941913                    4                           3
16  ID_1_obj_id_228941863                    4                           3
17  ID_1_obj_id_228941746                    4                           3
18  ID_1_obj_id_228941770                    4                           3
19  ID_1_obj_id_228941701                    4                           3

   udzialWPrawieDoNieruchomosci  cenaNieruchomosciBrutto  \
0                           1/1                698818.50
1                           1/1                759894.56
2                           1/1                733034.80
3                           1/1                727144.48
4                           1/1                615000.00
5                           1/1                825249.11
6                           1/1                542556.80
7                           1/1                881582.65
8                           1/1                538809.00
9                           1/1               1111731.00
10                          1/1                557943.50
11                          1/1                882495.36
12                          1/1                      NaN
13                          1/1                818402.13
14                          1/1                691514.44
15                          1/1               1027280.00
16                          1/1                759798.10
17                          1/1                467582.50
18                          1/1               1113450.00
19                          1/1                821743.60

    polePowierzchniNieruchomosciGruntowej  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
5                                     NaN
6                                     NaN
7                                     NaN
8                                     NaN
9                                     NaN
10                                    NaN
11                                    NaN
12                                    NaN
13                                    NaN
14                                    NaN
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN

   polePowierzchniNieruchomosciGruntowej_uom
0                                       None
1                                       None
2                                       None
3                                       None
4                                       None
5                                       None
6                                       None
7                                       None
8                                       None
9                                       None
10                                      None
11                                      None
12                                      None
13                                      None
14                                      None
15                                      None
16                                      None
17                                      None
18                                      None
19                                      None
Ilość duplikatów:
Empty DataFrame
Columns: [gml_id, rodzajNieruchomosci, rodzajPrawaDoNieruchomosci, udzialWPrawieDoNieruchomosci, cenaNieruchomosciBrutto, polePowierzchniNieruchomosciGruntowej, polePowierzchniNieruchomosciGruntowej_uom]
Index: []

Empty DataFrame
Columns: [gml_id, rodzajNieruchomosci, rodzajPrawaDoNieruchomosci, udzialWPrawieDoNieruchomosci, cenaNieruchomosciBrutto, polePowierzchniNieruchomosciGruntowej, polePowierzchniNieruchomosciGruntowej_uom]
Index: []

In [80]:
layer = 'RCN_Dzialka'
#data types of the important columns 
dzialka_layer = get_layer(layer)
print(f"Typ danych kolumny z ceną dzialki: {dzialka_layer['cenaDzialkiEwidencyjnejBrutto'].dtype}")
print(f"Typ danych kolumny z polem powierzchni dzialki: {dzialka_layer['polePowierzchniEwidencyjnej'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z ceną dzialki: float64
Typ danych kolumny z polem powierzchni dzialki: float64
Ilość pustych wartości:
gml_id                                 0
idDzialki                              0
polePowierzchniEwidencyjnej            0
polePowierzchniEwidencyjnej_uom        0
sposobUzytkowania                      0
przeznaczenieWMPZP                 14223
cenaDzialkiEwidencyjnejBrutto      13959
geometria                          14227
geometry                               3
dtype: int64

Przykładowe wiersze z brakami danych:
                   gml_id                idDzialki  \
0   ID_1_obj_id_228956922  026401_1.0025.AR_8.4/37
1   ID_1_obj_id_228956920  026401_1.0025.AR_8.4/26
2   ID_1_obj_id_228956921  026401_1.0025.AR_8.4/32
3   ID_1_obj_id_228955490  026401_1.0025.AR_8.4/32
4   ID_1_obj_id_228955491  026401_1.0025.AR_8.4/37
5   ID_1_obj_id_228955489  026401_1.0025.AR_8.4/26
6   ID_1_obj_id_228955191  026401_1.0025.AR_8.4/37
7   ID_1_obj_id_228955190  026401_1.0025.AR_8.4/32
8   ID_1_obj_id_228955189  026401_1.0025.AR_8.4/26
9   ID_1_obj_id_228955103  026401_1.0025.AR_8.4/26
10  ID_1_obj_id_228955104  026401_1.0025.AR_8.4/32
11  ID_1_obj_id_228955105  026401_1.0025.AR_8.4/37
12  ID_1_obj_id_228951189   026401_1.0025.AR_1.5/8
13  ID_1_obj_id_228951084  026401_1.0025.AR_8.4/26
14  ID_1_obj_id_228951085  026401_1.0025.AR_8.4/32
15  ID_1_obj_id_228951086  026401_1.0025.AR_8.4/37
16  ID_1_obj_id_228951052  026401_1.0025.AR_8.4/26
17  ID_1_obj_id_228951053  026401_1.0025.AR_8.4/32
18  ID_1_obj_id_228951054  026401_1.0025.AR_8.4/37
19  ID_1_obj_id_228950964  026401_1.0025.AR_8.4/37

    polePowierzchniEwidencyjnej polePowierzchniEwidencyjnej_uom  \
0                        0.0743                              ha
1                        0.2323                              ha
2                        0.1711                              ha
3                        0.1711                              ha
4                        0.0743                              ha
5                        0.2323                              ha
6                        0.0743                              ha
7                        0.1711                              ha
8                        0.2323                              ha
9                        0.2323                              ha
10                       0.1711                              ha
11                       0.0743                              ha
12                       0.1910                              ha
13                       0.2323                              ha
14                       0.1711                              ha
15                       0.0743                              ha
16                       0.2323                              ha
17                       0.1711                              ha
18                       0.0743                              ha
19                       0.0743                              ha

    sposobUzytkowania przeznaczenieWMPZP  cenaDzialkiEwidencyjnejBrutto  \
0                   3               None                            NaN
1                   3               None                            NaN
2                   3               None                            NaN
3                   3               None                            NaN
4                   3               None                            NaN
5                   3               None                            NaN
6                   3               None                            NaN
7                   3               None                            NaN
8                   3               None                            NaN
9                   3               None                            NaN
10                  3               None                            NaN
11                  3               None                            NaN
12                  3               None                            NaN
13                  3               None                            NaN
14                  3               None                            NaN
15                  3               None                            NaN
16                  3               None                            NaN
17                  3               None                            NaN
18                  3               None                            NaN
19                  3               None                            NaN

   geometria                                           geometry
0       None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
1       None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
2       None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
3       None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
4       None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
5       None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
6       None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
7       None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
8       None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
9       None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
10      None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
11      None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
12      None  POLYGON ((6433571.92 5661735.87, 6433610.51 56...
13      None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
14      None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
15      None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
16      None  POLYGON ((6434947.26 5661023.46, 6434911.595 5...
17      None  POLYGON ((6434868.45 5661100.23, 6434871.66 56...
18      None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
19      None  POLYGON ((6434925.43 5661011.41, 6434884.48 56...
Ilość duplikatów:
Empty GeoDataFrame
Columns: [gml_id, idDzialki, polePowierzchniEwidencyjnej, polePowierzchniEwidencyjnej_uom, sposobUzytkowania, przeznaczenieWMPZP, cenaDzialkiEwidencyjnejBrutto, geometria, geometry]
Index: []

Empty GeoDataFrame
Columns: [gml_id, idDzialki, polePowierzchniEwidencyjnej, polePowierzchniEwidencyjnej_uom, sposobUzytkowania, przeznaczenieWMPZP, cenaDzialkiEwidencyjnejBrutto, geometria, geometry]
Index: []

In [81]:
#checking for non null and non nan values
maska_poprawnych = dzialka_layer['cenaDzialkiEwidencyjnejBrutto'].notnull()
wiersze_z_cena = dzialka_layer[maska_poprawnych]
print(wiersze_z_cena.head(20))

                     gml_id                 idDzialki  \
2300  ID_1_obj_id_228635174  026401_1.0028.AR_42.12/3
2301  ID_1_obj_id_228635170   026401_1.0028.AR_42.3/8
2302  ID_1_obj_id_228635172  026401_1.0028.AR_42.13/2
2303  ID_1_obj_id_228635171   026401_1.0028.AR_42.2/7
2304  ID_1_obj_id_228635173   026401_1.0028.AR_42.3/9
2305  ID_1_obj_id_228635169  026401_1.0028.AR_42.13/1
6146  ID_1_obj_id_228133736  026401_1.0028.AR_42.12/3
6147  ID_1_obj_id_228133733   026401_1.0028.AR_42.2/7
6148  ID_1_obj_id_228133734  026401_1.0028.AR_42.13/2
6149  ID_1_obj_id_228133732   026401_1.0028.AR_42.3/8
6150  ID_1_obj_id_228133731  026401_1.0028.AR_42.13/1
6151  ID_1_obj_id_228133735   026401_1.0028.AR_42.3/9
6152  ID_1_obj_id_228133683   026401_1.0028.AR_42.3/8
6153  ID_1_obj_id_228133686   026401_1.0028.AR_42.3/9
6154  ID_1_obj_id_228133685  026401_1.0028.AR_42.13/2
6155  ID_1_obj_id_228133687  026401_1.0028.AR_42.12/3
6156  ID_1_obj_id_228133684   026401_1.0028.AR_42.2/7
6157  ID_1_obj_id_228133682  026401_1.0028.AR_42.13/1
6695  ID_1_obj_id_228064838   026401_1.0028.AR_42.2/7
6696  ID_1_obj_id_228064840   026401_1.0028.AR_42.3/9

      polePowierzchniEwidencyjnej polePowierzchniEwidencyjnej_uom  \
2300                       0.0799                              ha
2301                       0.0068                              ha
2302                       0.2628                              ha
2303                       0.1345                              ha
2304                       0.0638                              ha
2305                       0.0283                              ha
6146                       0.0799                              ha
6147                       0.1345                              ha
6148                       0.2628                              ha
6149                       0.0068                              ha
6150                       0.0283                              ha
6151                       0.0638                              ha
6152                       0.0068                              ha
6153                       0.0638                              ha
6154                       0.2628                              ha
6155                       0.0799                              ha
6156                       0.1345                              ha
6157                       0.0283                              ha
6695                       0.1345                              ha
6696                       0.0638                              ha

      sposobUzytkowania przeznaczenieWMPZP  cenaDzialkiEwidencyjnejBrutto  \
2300                  3               None                       727080.0
2301                  3               None                       727080.0
2302                  3               None                       727080.0
2303                  3               None                       727080.0
2304                  3               None                       727080.0
2305                  3               None                       727080.0
6146                  3               None                       546892.0
6147                  3               None                       546892.0
6148                  3               None                       546892.0
6149                  3               None                       546892.0
6150                  3               None                       546892.0
6151                  3               None                       546892.0
6152                  3               None                       810064.0
6153                  3               None                       810064.0
6154                  3               None                       810064.0
6155                  3               None                       810064.0
6156                  3               None                       810064.0
6157                  3               None                       810064.0
6695                  3               None                      1089987.4
6696                  3               None                      1089987.4

     geometria                                           geometry
2300      None  POLYGON ((6429044.407 5660854.48, 6429065.042 ...
2301      None  POLYGON ((6429054.684 5660907.929, 6429060.386...
2302      None  POLYGON ((6429042.8 5660909.27, 6429008.08 566...
2303      None  POLYGON ((6429011.472 5660912.829, 6429032.034...
2304      None  POLYGON ((6429032.034 5660910.492, 6429042.8 5...
2305      None  POLYGON ((6429011.472 5660912.829, 6429008.08 ...
6146      None  POLYGON ((6429044.407 5660854.48, 6429065.042 ...
6147      None  POLYGON ((6429011.472 5660912.829, 6429032.034...
6148      None  POLYGON ((6429042.8 5660909.27, 6429008.08 566...
6149      None  POLYGON ((6429054.684 5660907.929, 6429060.386...
6150      None  POLYGON ((6429011.472 5660912.829, 6429008.08 ...
6151      None  POLYGON ((6429032.034 5660910.492, 6429042.8 5...
6152      None  POLYGON ((6429054.684 5660907.929, 6429060.386...
6153      None  POLYGON ((6429032.034 5660910.492, 6429042.8 5...
6154      None  POLYGON ((6429042.8 5660909.27, 6429008.08 566...
6155      None  POLYGON ((6429044.407 5660854.48, 6429065.042 ...
6156      None  POLYGON ((6429011.472 5660912.829, 6429032.034...
6157      None  POLYGON ((6429011.472 5660912.829, 6429008.08 ...
6695      None  POLYGON ((6429011.472 5660912.829, 6429032.034...
6696      None  POLYGON ((6429032.034 5660910.492, 6429042.8 5...

In [82]:
layer = 'RCN_Budynek'
#data types of the important columns 
budynek_layer = get_layer(layer)
print(f"Typ danych kolumny z ceną budynku: {budynek_layer['cenaBudynkuBrutto'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z ceną budynku: float64
Ilość pustych wartości:
gml_id                   0
idBudynku                0
rodzajBudynku            0
cenaBudynkuBrutto    17588
geometria            17650
geometry                 4
dtype: int64

Przykładowe wiersze z brakami danych:
                   gml_id                      idBudynku  rodzajBudynku  \
0   ID_1_obj_id_228956923  026401_1.0025.AR_8.4/26.1_BUD            110
1   ID_1_obj_id_228955492  026401_1.0025.AR_8.4/26.1_BUD            110
2   ID_1_obj_id_228955192  026401_1.0025.AR_8.4/26.1_BUD            110
3   ID_1_obj_id_228955106  026401_1.0025.AR_8.4/26.1_BUD            110
4   ID_1_obj_id_228951190   026401_1.0025.AR_1.5/8.2_BUD            110
5   ID_1_obj_id_228951087  026401_1.0025.AR_8.4/26.1_BUD            110
6   ID_1_obj_id_228951055  026401_1.0025.AR_8.4/26.1_BUD            110
7   ID_1_obj_id_228950965  026401_1.0025.AR_8.4/26.1_BUD            110
8   ID_1_obj_id_228949438  026401_1.0025.AR_8.4/26.1_BUD            110
9   ID_1_obj_id_226412285   026401_1.0001.AR_6.2/5.1_BUD            110
10  ID_1_obj_id_228948109  026401_1.0025.AR_8.4/26.1_BUD            110
11  ID_1_obj_id_228947735  026401_1.0025.AR_8.4/26.1_BUD            110
12  ID_1_obj_id_228278591   026401_1.0020.AR_8.5/2.9_BUD            110
13  ID_1_obj_id_228278588   026401_1.0020.AR_8.5/2.3_BUD            110
14  ID_1_obj_id_228278589   026401_1.0020.AR_8.5/2.7_BUD            110
15  ID_1_obj_id_228278587   026401_1.0020.AR_8.5/2.8_BUD            110
16  ID_1_obj_id_228278590   026401_1.0020.AR_8.5/2.1_BUD            110
17  ID_1_obj_id_228278593   026401_1.0020.AR_8.5/2.5_BUD            110
18  ID_1_obj_id_228278592   026401_1.0020.AR_8.5/2.6_BUD            110
19  ID_1_obj_id_228278585   026401_1.0020.AR_8.5/2.4_BUD            110

    cenaBudynkuBrutto geometria  \
0                 NaN      None
1                 NaN      None
2                 NaN      None
3                 NaN      None
4                 NaN      None
5                 NaN      None
6                 NaN      None
7                 NaN      None
8                 NaN      None
9                 NaN      None
10                NaN      None
11                NaN      None
12                NaN      None
13                NaN      None
14                NaN      None
15                NaN      None
16                NaN      None
17                NaN      None
18                NaN      None
19                NaN      None

                                             geometry
0   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
1   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
2   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
3   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
4   POLYGON ((6433557.98 5661720.66, 6433560.933 5...
5   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
6   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
7   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
8   POLYGON ((6434938.7 5661117.01, 6434932.93 566...
9   POLYGON ((6431332.37 5664869.08, 6431349.71 56...
10  POLYGON ((6434938.7 5661117.01, 6434932.93 566...
11  POLYGON ((6434938.7 5661117.01, 6434932.93 566...
12  POLYGON ((6439340.055 5662041.211, 6439329.74 ...
13  POLYGON ((6439283.052 5662065.653, 6439289.708...
14  POLYGON ((6439362.092 5662061.684, 6439368.748...
15  POLYGON ((6439356.231 5662056.239, 6439345.916...
16  POLYGON ((6439323.58 5662103.312, 6439315.414 ...
17  POLYGON ((6439333.408 5662072.572, 6439323.093...
18  POLYGON ((6439347.43 5662085.599, 6439339.269 ...
19  POLYGON ((6439317.232 5662057.544, 6439306.917...
Ilość duplikatów:
Empty GeoDataFrame
Columns: [gml_id, idBudynku, rodzajBudynku, cenaBudynkuBrutto, geometria, geometry]
Index: []

Empty GeoDataFrame
Columns: [gml_id, idBudynku, rodzajBudynku, cenaBudynkuBrutto, geometria, geometry]
Index: []

In [83]:
layer = 'RCN_Lokal'
#data types of the important columns 
lokal_layer = get_layer(layer)
print(f"Typ danych kolumny z liczbą izb: {lokal_layer['liczbaIzb'].dtype}")
print(f"Typ danych kolumny z numerem kondygnacji: {lokal_layer['nrKondygnacji'].dtype}")
print(f"Typ danych kolumny z polem powierzchni pomieszczen przynaleznych: {lokal_layer['powUzytkowaLokalu'].dtype}")
print(f"Typ danych kolumny z ceną lokalu: {lokal_layer['cenaLokaluBrutto'].dtype}")
print(f"Typ danych kolumny z polem powierzchni lokalu: {lokal_layer['powUzytkowaPomieszczenPrzynal'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z liczbą izb: float64
Typ danych kolumny z numerem kondygnacji: float64
Typ danych kolumny z polem powierzchni pomieszczen przynaleznych: float64
Typ danych kolumny z ceną lokalu: float64
Typ danych kolumny z polem powierzchni lokalu: float64
Ilość pustych wartości:
gml_id                                  0
idLokalu                                0
funkcjaLokalu                           0
liczbaIzb                              74
nrKondygnacji                           4
powUzytkowaLokalu                       0
powUzytkowaLokalu_uom                   0
cenaLokaluBrutto                     1195
dodatkoweInformacje                  5103
powUzytkowaPomieszczenPrzynal        4480
powUzytkowaPomieszczenPrzynal_uom    4480
geometry                                2
dtype: int64

Przykładowe wiersze z brakami danych:
                   gml_id                                idLokalu  \
0   ID_1_obj_id_228956919  026401_1.0025.AR_8.4/26.1_BUD.1005_LOK
1   ID_1_obj_id_228955488     026401_1.0025.AR_8.4/26.1_BUD.2_LOK
2   ID_1_obj_id_228955188  026401_1.0025.AR_8.4/26.1_BUD.1076_LOK
3   ID_1_obj_id_228955102  026401_1.0025.AR_8.4/26.1_BUD.1115_LOK
4   ID_1_obj_id_228951188      026401_1.0025.AR_1.5/8.2_BUD.7_LOK
5   ID_1_obj_id_228951083  026401_1.0025.AR_8.4/26.1_BUD.1077_LOK
6   ID_1_obj_id_228951051  026401_1.0025.AR_8.4/26.1_BUD.1074_LOK
7   ID_1_obj_id_228950961    026401_1.0025.AR_8.4/26.1_BUD.32_LOK
8   ID_1_obj_id_228949434  026401_1.0025.AR_8.4/26.1_BUD.1099_LOK
9   ID_1_obj_id_226412283   026401_1.0001.AR_6.2/5.1_BUD.1288_LOK
10  ID_1_obj_id_228948105  026401_1.0025.AR_8.4/26.1_BUD.1109_LOK
11  ID_1_obj_id_228947731    026401_1.0025.AR_8.4/26.1_BUD.20_LOK
12  ID_1_obj_id_228278583   026401_1.0020.AR_8.5/2.8_BUD.1000_LOK
13  ID_1_obj_id_228943113  026401_1.0025.AR_8.4/26.1_BUD.1089_LOK
14  ID_1_obj_id_228942093  026401_1.0025.AR_8.4/26.1_BUD.1092_LOK
17  ID_1_obj_id_228941747  026401_1.0025.AR_8.4/26.1_BUD.1016_LOK
18  ID_1_obj_id_228941769   026401_1.0022.AR_42.30/1.6_BUD.18_LOK
20  ID_1_obj_id_228941577  026401_1.0025.AR_8.4/26.1_BUD.1107_LOK
21  ID_1_obj_id_228941457  026401_1.0025.AR_8.4/26.1_BUD.1083_LOK
22  ID_1_obj_id_228936408    026401_1.0059.AR_26.37/7.1_BUD.1_LOK

    funkcjaLokalu  liczbaIzb  nrKondygnacji  powUzytkowaLokalu  \
0               1        3.0            2.0              58.54
1               1        3.0            1.0              58.17
2               1        3.0            6.0              58.78
3               1        3.0            4.0              58.50
4               1        2.0            2.0              37.85
5               1        4.0            1.0              72.70
6               1        2.0            6.0              49.17
7               1        5.0            6.0              79.42
8               1        2.0            6.0              37.74
9               1        2.0           20.0              44.73
10              1        2.0            3.0              38.73
11              1        5.0            4.0              79.39
12              1        3.0            1.0             136.85
13              1        4.0            4.0              72.81
14              1        3.0            4.0              53.71
17              1        2.0            5.0              38.17
18              1        4.0            9.0              99.39
20              1        3.0            2.0              58.49
21              1        2.0            2.0              37.73
22              1        3.0            2.0              62.97

   powUzytkowaLokalu_uom  cenaLokaluBrutto  \
0                     m2         698818.50
1                     m2         759894.56
2                     m2         733034.80
3                     m2         727144.48
4                     m2         615000.00
5                     m2         825249.11
6                     m2         542556.80
7                     m2         881582.65
8                     m2         538809.00
9                     m2        1006425.00
10                    m2         557943.50
11                    m2         882495.36
12                    m2               NaN
13                    m2         818402.13
14                    m2         691514.44
17                    m2         467582.50
18                    m2        1113450.00
20                    m2         724377.88
21                    m2         498036.00
22                    m2         747704.60

                                  dodatkoweInformacje  \
0   - prawo do korzystania z miejsca postojowego p...
1   - prawo do korzystania z miejsca postojowego p...
2   - prawo do korzystania z miejsca postojowego p...
3   - prawo do korzystania z miejsca postojowego p...
4                                                None
5   - prawo do korzystania z miejsca postojowego p...
6   - prawo do korzystania z miejsca postojowego p...
7   - prawo do korzystania z miejsca postojowego p...
8   - prawo do korzystania z miejsca postojowego p...
9                                                None
10  - prawo do korzystania z miejsca postojowego p...
11  - prawo do korzystania z miejsca postojowego p...
12                                               None
13  - prawo do korzystania z miejsca postojowego p...
14  - prawo do korzystania z miejsca postojowego p...
17                                               None
18                                               None
20  - prawo do korzystania z miejsca postojowego p...
21                                               None
22                                               None

    powUzytkowaPomieszczenPrzynal powUzytkowaPomieszczenPrzynal_uom  \
0                             NaN                              None
1                             NaN                              None
2                             NaN                              None
3                             NaN                              None
4                             NaN                              None
5                             NaN                              None
6                             NaN                              None
7                             NaN                              None
8                             NaN                              None
9                             NaN                              None
10                            NaN                              None
11                            NaN                              None
12                            NaN                              None
13                            NaN                              None
14                            NaN                              None
17                            NaN                              None
18                           4.78                                m2
20                            NaN                              None
21                            NaN                              None
22                            NaN                              None

                           geometry
0   POINT (6434915.477 5661074.997)
1   POINT (6434915.477 5661074.997)
2   POINT (6434915.477 5661074.997)
3   POINT (6434915.477 5661074.997)
4    POINT (6433584.02 5661708.256)
5   POINT (6434915.477 5661074.997)
6   POINT (6434915.477 5661074.997)
7   POINT (6434915.477 5661074.997)
8   POINT (6434915.477 5661074.997)
9   POINT (6431366.936 5664879.781)
10  POINT (6434915.477 5661074.997)
11  POINT (6434915.477 5661074.997)
12  POINT (6439354.402 5662047.865)
13  POINT (6434915.477 5661074.997)
14  POINT (6434915.477 5661074.997)
17  POINT (6434915.477 5661074.997)
18   POINT (6433355.649 5662837.94)
20  POINT (6434915.477 5661074.997)
21  POINT (6434915.477 5661074.997)
22  POINT (6438039.513 5667659.476)
Ilość duplikatów:
Empty GeoDataFrame
Columns: [gml_id, idLokalu, funkcjaLokalu, liczbaIzb, nrKondygnacji, powUzytkowaLokalu, powUzytkowaLokalu_uom, cenaLokaluBrutto, dodatkoweInformacje, powUzytkowaPomieszczenPrzynal, powUzytkowaPomieszczenPrzynal_uom, geometry]
Index: []

Empty GeoDataFrame
Columns: [gml_id, idLokalu, funkcjaLokalu, liczbaIzb, nrKondygnacji, powUzytkowaLokalu, powUzytkowaLokalu_uom, cenaLokaluBrutto, dodatkoweInformacje, powUzytkowaPomieszczenPrzynal, powUzytkowaPomieszczenPrzynal_uom, geometry]
Index: []

In [84]:
layer = 'RCN_Adres'
adres_layer = get_layer(layer)
print(f"Typ danych kolumny z numerem porzadkowym: {adres_layer['numerPorzadkowy'].dtype}")

look_for_null(layer)
look_for_duplicates(layer)

Typ danych kolumny z numerem porzadkowym: object
Ilość pustych wartości:
gml_id              0
miejscowosc         0
ulica               0
numerPorzadkowy    23
dtype: int64

Przykładowe wiersze z brakami danych:
                                                 gml_id miejscowosc  \
269   PL.PZGiK.112.EGiB_59F322D4-ADDC-4AE1-93E2-B1BE...     Wrocław
549   PL.PZGiK.112.EGiB_2EC0EF82-590D-4DD0-A62F-2CB4...     Wrocław
825   PL.PZGiK.112.EGiB_2E90179B-5AFB-4826-8F6B-A850...     Wrocław
880   PL.PZGiK.112.EGiB_938CE840-3494-4854-B11E-7B0B...     Wrocław
1030  PL.PZGiK.112.EGiB_C588C51B-547E-48A5-B31C-7EEB...     Wrocław
1032  PL.PZGiK.112.EGiB_AE7850D7-4C16-413B-9E7B-048B...     Wrocław
1312  PL.PZGiK.112.EGiB_4B4DBCD6-30C5-4858-A102-4ABE...     Wrocław
2003  PL.PZGiK.112.EGiB_55D978DD-150C-430E-A892-FD95...     Wrocław
2014  PL.PZGiK.112.EGiB_2D8D26DB-BE39-482A-BE54-0E2B...     Wrocław
2184  PL.PZGiK.112.EGiB_F6A1F53E-0823-4797-85BC-2497...     Wrocław
2976  PL.PZGiK.112.EGiB_C5CB238A-9A39-42B7-84BF-7C25...     Wrocław
2977  PL.PZGiK.112.EGiB_D7ED0E79-D3C1-4669-A234-1437...     Wrocław
3515  PL.PZGiK.112.EGiB_74906AD8-95AB-4F1E-B672-299A...     Wrocław
4188  PL.PZGiK.112.EGiB_11732E12-F034-4795-B930-DA9D...     Wrocław
4258  PL.PZGiK.112.EGiB_7291264C-B004-4D97-A4A7-8E9D...     Wrocław
4259  PL.PZGiK.112.EGiB_E6C6D5C6-AA2A-4FC2-9A20-5870...     Wrocław
4260  PL.PZGiK.112.EGiB_7D68D7DE-7FBA-4A6B-98FE-9CAE...     Wrocław
4281  PL.PZGiK.112.EGiB_8D884B35-4CBE-49F0-85B3-5967...     Wrocław
4748  PL.PZGiK.112.EGiB_8A725998-37EC-4BE8-BCEB-474D...     Wrocław
5362  PL.PZGiK.112.EGiB_87C13FAC-FEA5-480F-A5AA-171E...     Wrocław

                             ulica numerPorzadkowy
269                   Lokomotywowa            None
549            Ameriga Vespucciego            None
825       Kazimierza Bieńkowskiego            None
880                     Opoczyńska            None
1030                     Zwycięska            None
1032  Adama Jerzego Czartoryskiego            None
1312              Wojciecha Kilara            None
2003                       Wiejska            None
2014             Romana Dmowskiego            None
2184                     Pejzażowa            None
2976              Augusta Mosbacha            None
2977    kard. Stefana Wyszyńskiego            None
3515                   Chociebuska            None
4188             Wojciecha Gersona            None
4258                     Mrozowska            None
4259                    Wojnowicka            None
4260                   Wilkszyńska            None
4281            Stanisława Drabika            None
4748               Księcia Witolda            None
5362                     Asfaltowa            None
Ilość duplikatów:
Empty DataFrame
Columns: [gml_id, miejscowosc, ulica, numerPorzadkowy]
Index: []

Empty DataFrame
Columns: [gml_id, miejscowosc, ulica, numerPorzadkowy]
Index: []

In [85]:
print(adres_layer['numerPorzadkowy'].apply(type).value_counts())

numerPorzadkowy
<class 'str'>         6952
<class 'NoneType'>      23
Name: count, dtype: int64